{% extends 'basic_view.twig' %}
{% block content %}
    <div class="row">
        <div class="column column-12" id="editProfil">
            <form action="edit_profile_info" method="post">
                <table>
                    <tr>
                        <td><label for="username">{{ uredi.korisnicko_ime }}:</label></td>
                        <td><input type="text" name="username" id="username" value="{{ korisnik.username }}"></td>
                    </tr>
                    <tr>
                        <td><label for="password_old">{{ uredi.stara }}:<br>({{ uredi.lozinka_text }})</label></td>
                        <td><input type="password" name="password_old" id="password_old"></td>
                    </tr>
                    <tr>
                        <td><label for="password_new">{{ uredi.nova }}:</label></td>
                        <td><input type="password" name="password_new" id="password_new"></td>
                    </tr>
                    <tr>
                        <td><label for="email">{{ uredi.email }}:</label></td>
                        <td><input type="email" name="email" id="email" value="{{ korisnik.email }}"></td>
                    </tr>
                </table>
				</br></br>
                <a href="profil"><input type="button" value="{{ uredi.odustani }}"></a>
                <input type="submit" value="{{ uredi.spremi }}">
				</br></br>
            </form>
        </div>
    </div>
{% endblock %}