{% extends "basic_view.twig" %}
{% block content %}
    <div class="row">
        <div class="column column-12" id="edit_tvrtke">
            <form action="uredi firmu" method="post">
                <input type="hidden" id="id" name="id" value="{{ tvrtka.idTvrtke }}">
                <label for="naziv"><p>Naziv tvrtke:</p></label>
                <input type="text" id="naziv" name="naziv" value="{{ tvrtka.naziv }}">
                <label for="tip"><p>Tip tvrtke:</p></label>
                <select id="tip" name="tip">
                    {% for tip in tipovi %}
                        {% if tip.idTipa == tvrtka.tip %}
                            <option value="{{ tip.idTipa }}" selected>{{ tip.naziv }}</option>
                        {% else %}
                            <option value="{{ tip.idTipa }}">{{ tip.naziv }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="autocomplete_places"><p>Adresa:</p></label>
                <input id="autocomplete_places" name="autocomplete_places" type="text" value="{{ tvrtka.adresa }}"/><!--onFocus="geolocate()"-->
                <input type="hidden" id="longitude" name="longitude" value="{{ tvrtka.longitude }}">
                <input type="hidden" id="latitude" name="latitude" value="{{ tvrtka.latitude }}">
                <label for="web"><p>Web stranica:</p></label>
                {% if tvrtka.web == null %}
                    <input type="url" name="web" id="web">
                {% else %}
                    <input type="url" name="web" id="web" value="{{ tvrtka.web }}">
                {% endif %}
                <br>
                <input type="button" id="izbrisiTvrtku" name="izbrisiTvrtku" onclick="izbrisiTvrtku({{ tvrtka.idTvrtke }})" value="Izbiriši Tvrtku"/>
                <a href="profil"><input type="button" value="Odustani"></a>
                <input type="submit" value="Prihvati">
            </form>
        </div>
    </div>
{% endblock %}