{% extends 'basic_view.twig' %}

{% block content %}
    <div id="map-site">

        <div class="row">
            <div class="column column-12">
                <div id="map_ui">
                    <form>
                        <label>{{ main.filtriraj_sadrzaj }}: </label>
                        <label for="tip" style="padding-left:1.8%">{{ main.tip_trgovine }}</label>
                        <select name="tip" id="tip">
                            <option value="sve">{{ main.opcija_sve }}</option>
                            {% for tip in tipovi %}
                                <option value="{{ tip.idTipa }}">{{ tip.naziv }}</option>
                            {% endfor %}
                        </select>
                        <input type="checkbox" name="free" id="free"/>
                        <label for="free">{{ main.besplatno }}</label>
                        <button type="button" onclick="filtriraj()">{{ main.filtriraj }}</button>
                    </form>
                    <div id="map"></div>
                </div>

                <div id="where">
                    <p>{{ main.main_poruka }}</p>
                    <input id="autocomplete" placeholder="{{ main.upisi_adresu }}" type="text" />
                </div>
				
            </div>
        </div>
    </div>


{% endblock %}