{% extends 'basic_view.twig' %}

{% block content %}
    <div class="row">
        <div class="column column-12" id="profil">
            <table>
                <tr>
                    <td>{{ profil.korisnicko_ime }}:</td>
                    <td>{{ korisnik.username }}</td>
                </tr>
                <tr>
                    <td>{{ profil.email }}:</td>
                    <td>{{ korisnik.email }}</td>
                </tr>
            </table>
            <a href="editUser"><button type="button" id="editInfo">{{ profil.urediP }}</button></a>
			</br></br>

            <h2>{{ profil.tvrtke }}:</h2>
            {% if tvrtke != null %}
                <table>
                    <tr>
                        <th>{{ profil.naziv }}</th>
                        <th>{{ profil.adresa }}</th>
                        <th>{{ profil.popust }}</th>
                        <th>{{ profil.vrijeme }}</th>
                        <th>{{ profil.dostupnost }}</th>
                    </tr>
                {% for tvrtka in tvrtke %}
                    <tr>
                        <td>{{ tvrtka.naziv }}</td>
                        <td>{{ tvrtka.adresa }}</td>
                        {% if tvrtka.kolPopusta == null %}
                            <td><input type="text" class="kolPopusta"></td>
                        {% else %}
                            <td><input type="text" class="kolPopusta" value="{{ tvrtka.kolPopusta }}"></td>
                        {% endif %}
                        {% if tvrtka.vrijemePopusta == null %}
                            <td><input type="text" class="vrijemePopusta"></td>
                        {% else %}
                            <td><input type="text" class="vrijemePopusta" value="{{ tvrtka.vrijemePopusta }}"></td>
                        {% endif %}


                        <td>
                            <div id="skolpkaContainer">
                                <div id="sklopka" class="sklopke"></div>
                            {% if tvrtka.dostupno == 1 %}

                                    <label for="da{{ tvrtka.id }}">{{ profil.da }}</label>
                                    <input type="radio" name="{{ tvrtka.id }}" id="da{{ tvrtka.id }}" value="1" class="radioDa" checked>
                                    <label for="ne{{ tvrtka.id }}">{{ profil.ne }}</label>
                                    <input type="radio" name="{{ tvrtka.id }}" id="ne{{ tvrtka.idT }}" value="0" class="radioNe">
                                {% else %}
                                    <label for="da{{ tvrtka.id }}">{{ profil.da }}</label>
                                    <input type="radio" name="{{ tvrtka.id }}" id="da{{ tvrtka.id }}" value="1" class="radioDa">
                                    <label for="ne{{ tvrtka.id }}">{{ profil.ne }}</label>
                                    <input type="radio" name="{{ tvrtka.id }}" id="ne{{ tvrtka.id }}" value="0" class="radioNe" checked>
                            {% endif %}
                            </div>
                        </td>

                        <td>
                            <button type="button"  class="spremiPromjene" id="{{ tvrtka.id }}">{{ profil.spremi }}</button>
                        </td>
                        <td>
                            <a href="urediTvrtku={{ tvrtka.id }}"><button type="button"  class="urediFirmu">{{ profil.urediT }}</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
			</br>
            <a href="dodajFirmu"><button type="button" id="dodajFirmu">{{ profil.dodaj }}</button></a>
			</br></br>
        </div>
    </div>




{% endblock %}