{% extends 'basic_view.twig' %}

{% block content %}

    <div class="testbox">
        <h1>{{ registracija.registracija }}</h1>

        <form method="post">

            <label id="icon" for="name"><i class="icon-mail "></i></label>
            <input type="text" name="email" id="email" placeholder="{{ registracija.email }}" required/>
            <label id="icon" for="name"><i class="icon-user "></i></label>
            <input type="text" name="name" id="name" placeholder="{{ registracija.korisnicko_ime }}" required/>
            <label id="icon" for="name"><i class="icon-key "></i></label>
            <input type="password" name="password" id="password" placeholder="{{ registracija.lozinka }}" required/>
            <label id="icon" for="name"><i class="icon-key "></i></label>
            <input type="password" name="password2" id="password2" placeholder="{{ registracija.lozinka2 }}" required/>
            </br>


            </br>


            <button id="registracija-gumb" type="submit">{{ registracija.registriraj }}</button>
        </form>
    </div>

{% endblock %}